<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= movie.movie_name %></title>
  </head>
  <body>
    <h1><%= movie.movie_name %></h1>
    <p>Directed by: <%= movie.director %></p>
    <p>Released on: 
      <%= movie.release_date %>
    </p>
    <p>Runtime: <%= movie.runtime.hours %>h <%= movie.runtime.minutes %>min</p>
    <p>Cast:</p>
    <ul><% movie.cast.forEach(actor => { %>
        <li><%= actor %></li>
    <% }); %></ul>
  </body>
</html>
